<!DOCTYPE html>
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>LiteJS - {{ page.title }}</title>{% if page.summary %}
	<meta name="description" content="{{ page.summary }}" />{% endif %}
	<link rel="stylesheet" href="/css/default.css" type="text/css" />
	<link rel="stylesheet" href="/css/theme1.css" type="text/css" />{% for css in page.css %}
	<link rel="stylesheet" href="/{{ css }}" type="text/css" />{% endfor %}{% for js in page.javascript %}
	<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
</head><body>

<ul class=menu>
	<li{% if page.title == "home" %} class=selected{% endif %}><a href="/">home</a></li>{% for x in site.menu %}
	<li{% if page.title == x %} class=selected{% endif %}><a href="/{{ x }}/">{{ x }}</a></li>{% endfor %}
</ul>

<div class=header>
	<h1><a href="/">LiteJS</a></h1>
	<h2>Simplicity is the ultimate sophistication. —Leonardo da Vinci</h2>
</div>

<div class=content>
{{ content }}
</div>

<div class=footer>
	<div class=right>Last updated {{ site.time | date_to_long_string }}</div>
</div>
</body>
<script type="text/javascrip">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22792206-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
