<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>{% if page.summary %}
		<meta name="description" content="{{ page.summary }}">{% endif %}
		<link rel="stylesheet" type="text/css" href="/css/index.css">{% for css in page.css %}
		<link rel="stylesheet" type="text/css" href="{{ css }}">{% endfor %}{% for js in page.javascript %}
		<script src="{{ js }}"></script>{% endfor %}
	</head>
<body>

<div class="gray">
	<div class=rgt>
		<a href="/projects/">Projects</a> | <a href="https://github.com/litejs/">Contribute in GitHub</a>
	</div>
	<h1><a class=gray href="{{ site.url }}">{{ site.name | xml_escape }}</a></h1>
</div>

<div id="post">
	{{ content }}
</div>

{% capture last_year %}{{ site.posts.first.date | date: "%Y" }}{% endcapture %}
{% capture first_year %}{{ site.posts.last.date | date: "%Y" }}{% endcapture %}


<p>Since {{ first_year }}{% if first_year != last_year %} to {{ last_year }}{% endif %}</p>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create','{{site.ga}}','auto');
ga('send','pageview');
</script>

</body></html>
